html {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
 font-family: "orangina";
 src: local("orangina"),
 url("./fonts/orangina.otf") format("opentype");
 font-weight: bolder;
}
@font-face {
 font-family: "tenorite";
 src: local("tenorite"),
 url("./fonts/tenorite.ttf") format("truetype");
 font-weight: bolder;
}


